section {
    height: 600px;
    margin-bottom: 20px;
}

.dark-bar {
    background-color: black;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sony-logo {
    height: 20px;
}

.play-5 {
    height: 40%;
}

.image-listing {
    height: 7rem;
    padding: 20px;
}

.image-games {
    height: 12rem;
    padding: 20px;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
    padding-left: 10px;
    position: relative;
    top: 7px;
}

/*jubo*/

#main-jumbo {
    height: 600px;
    padding: 5%;
    background-image: url(../img/jumbo-bg.png);
}

#jumbo-take {
    height: 700px;
    padding: 5%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#jumbo-explore {
    height: 500px;
    background-color: #bebcbb;
}

.jumbotron {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.games {
    min-height: 600px;
    background-color: #1f1f1f;
}

.ps-plus {
    height: 475px;
}

.ps-logo {
    height: 15%;
}
